<head>
<style type="text/css">	
  img {
  	border: 2px solid black;
  	width: 175px;
  }
  p.description {
  	color: red;
  }
</style>
</head>

<h1>Rana Roop</h1>

<h2>This will be the about me page.</h2>


<p>UX designer by day; programming newbie by night.</p>
<i>I have no special talent. I am only passionately curioius.</i>
<b>- <i>Albert Einstein</b></i>
<br>
<br>
<img src="http://www.ryanseacrest.com/wp-content/uploads/2012/08/Boo-The-Dog.jpg" />
<p class="description">the infamous Boo</p>





<a href = "/sitemap/index">Sitemap</a>
<a href = "/myportfolio/pics">My Portfolio</a>