<h1>Hello Cruel World</h1>
<p>If you are reading this, then </p>
<h3>I created my BLOG</h3>
<h5>in the terminal using Sublime and Git + Heroku!</h5>

<h3>Rana Roop</h3>
<p>UX designer by day, programming student at night; and beginning French speaker on the weekends</p>
