<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header>This is my header</header>

<hr/>
<i>what's going on with this page?</i>

<%= yield %>

<i>what's going on with this page?</i>
<hr/>

<footer>This is my footer</footer>
</body>
</html>
